.comments {
	margin-top: 50px
}

.video {
	height: 652px;
}
.video iframe {
	width: 1160px;
	height: 652px;
}
.accent-table {display:table; width:100%}
.accent-tr {display: table-row}
.accent-td {
	display:table-cell;
	padding: 1px 10px;
}
.accent-td ul li {
	padding: 0;
	color: lightslategrey;
	line-height: 17px;
	margin-bottom: 10px;
	background:none
}
.accent-img, .accent-mask, .accent-round {
	margin: 0 auto;
	overflow: hidden;
	height: 200px;
	width: 200px;
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom: 40px;
}
.accent-rectangle {
	height: 150px;
	width: 100%;
}
.accent-mask {
	-moz-border-radius: 100em;
	border-radius: 100em;
	-webkit-border-radius: 100em;
}
.accent-round {
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.img-crop {
	position: relative;
	height: 250px;
	width: 250px;
	float: right;
	margin: 1px 0 40px 10%;
}
.img-crop span {
	display: block;
	width: 100%;
	position: absolute;
	bottom: -80px;
	height:70px;
	text-align: center;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	background-image:url(../images/twbg.png)
}
.img-mask {
	overflow: hidden;
	height: 250px;
	width: 250px;
	-moz-border-radius: 100em;
	border-radius: 100em;
	-webkit-border-radius: 100em;
	background-color: #fff;
	background-position: center;
	background-size: cover
}
.img-round {
	height: 250px;
	width: 250px;
	overflow: hidden;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #fff;
	background-position: center;
	background-size: cover
}
.two-title {
	display: block;
	text-align: center;
}
/* LANDING BLOCKS */
/* block standart */
#page-standart {
	padding: 70px 0 20px;
}
#page-standart p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1em;
	font-weight: 400;
}
#page-standart .h2 {
	margin-top: 10px;
	text-align: left
}
#page-standart .h2.bigh,
#page-standart .h2.middle {
	margin: 0 0 35px 0!important;
	text-align: center;
}
#page-standart .all-caps {
	text-align: center;
}
#page-standart img,
#page-blog img {
	float: right;
	max-width: 50%; /* тут нужно протестироовать будут ли работать заданные размеры*/
	height: auto;
	margin: 0 0 40px 5%;
}
/* blocks light */
#block-light {
	padding: 80px 0;
	background-size: cover;
}
#block-light img {
	float: right;
	max-width: 50%;
	height: auto;
	margin-left: 5%;
}
#block-light .more, #page-standart .more {
	display: inline-block;
	margin: 20px auto 0;
	height: 50px;
	padding: 0 30px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	color: #888;
	border: 1px solid #ccc;
}
#block-light .more:hover, #page-standart .more:hover {
	background-color: #666
}
/* Стиль блока «По-центру» */
#block-center {
	padding: 0;
	text-align: center;
	background-repeat:no-repeat
}
#block-center .container,
#block-img-bottom .container {
	padding: 70px 15px;
}

#wid-articles {
	text-align: left
}
#wid-articles p {
	margin-bottom: 10px;
}
/* Стиль блока «Картинка прижата книзу» */
#block-img-bottom {
	padding: 0;
	text-align: center;
	background-attachment: scroll;
	background-position: bottom;
	background-repeat:no-repeat
}
/* Стиль блока «Две колонки» */
#two-collum {
	background-repeat:no-repeat;
	background-position:left top
}
#block-light .more:hover, 
#page-standart .more:hover,
#block-center .more, 
#block-img-bottom .more, 
#block-bg-left .more, 
#contact .more
{ color: #fff }
#block-center h2,
#block-img-bottom h2 
{ font-size: 36px;
	color:#333
}
#block-center .h2,
#block-center h2 {
	margin: 20px 0 42px -1px;
	color:#333;
	letter-spacing: .03em;
	font-weight: 300;
}
#two-collum h3,
#block-img-bottom h3,
#block-center h3 {
	font-size: 28px;
	line-height: 38px;
	letter-spacing: 0.02em;
	margin: 20px 0 20px -1px;
}
#block-center .latest-post h3 {
	font-size: 20px;
	line-height: 28px;
	margin: 20px 0 5px -1px
}
#block-center h4,
#block-img-bottom h4 {
	font-size: 20px;
	letter-spacing: 0em;
	margin:0
}

#block-center table td {
	text-align: left;
}
.outer-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	margin: 0; padding: 0;
}
.table-wrapper {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	/*text-align: center;*/
}
#col_3 { 
	text-align:left; 
	font-size:14px; 
	color:#222; 
	line-height:24px;
	margin-bottom: 50px
}
#col_3 h3 { margin-bottom: 15px}
#block-center img.auto {
	margin:20px 0 50px;
}
#block-center .prev {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	line-height: 30px;
	width: 100%;
	text-align: center;
}
#block-center .prev p {
	font-size: 18px;
	line-height: 2em;
	letter-spacing: 0.01em;
}
#block-center .margin { margin:0; height:0;}

#block-bg-center .more, #block-bg-left .more, #contact .more {
	display: inline-block;
	margin: 20px auto 0;
	height: 50px;
	padding: 0 35px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	border: 1px solid #fff;
}
#block-bg-center .more:hover, #block-bg-left .more:hover, #contact .more:hover {
	color: #000;
	background-color: #fff;
}
#block-right.page-section,
#block-left.page-section {
	margin:0;
	padding: 0;
	background-repeat:no-repeat
}
#block-right .container,
#block-left .container {
	margin: 0;
	width: 100%;
}

#block-right .demi-1 {
	float:left;
	width: 50%;
	padding: 84px 167px 62px 118px;
}
#block-right .demi-2 {
	float: right;
	width: 50%;
	padding: 84px 67px 62px 75px;
}
#block-left .demi-1 {
	float:right;
	width: 50%;
	padding: 84px 167px 62px 118px;
}
#block-left .demi-2 {
	float: left;
	width: 50%;
	padding: 84px 67px 62px 75px;
}
#block-right .full,
#block-left .full {
	float: left;
	margin-right: 50px
}
#block-left p,
#block-right p {
	font-size: 16px;
	line-height: 27px;
	font-weight: normal;
	margin: 0 0 10px 0
} 
#block-right h3,
#block-left h3 {
	font-size: 22px;
	line-height: 36px
}  
#block-right h4,
#block-left h4 {
	font-size: 18px;
	line-height: 24px;
	margin-top: 38px 
} 
#block-right .btn,
#block-left .btn {
	margin-top: 42px
}
/* blocks background text left */
#block-bg-left {
	min-height: 200px;
	color: #fff;
	padding: 50px 0;
	background-size: cover;
}
#block-bg-left .h2 {
	color: #fff;
	font-size: 36px;
}
#block-bg-left blockquote {
	color: #999
}
#block-stat {
	padding: 70px 0 50px;
	margin-top: -1px;
	background-color:#f0efef
}
#accent-pictures .service {
	width: 22%;
	font-weight: normal;
}
#accent-pictures {
	font-size:14px;
	line-height:22px;
}
#accent-pictures h2 {
	font-style: italic;
	letter-spacing: 2px;
	margin:14px 0;
	font-weight: 200;
}
#widget {
	padding-top: 70px 
}
#photos-left,
#photos-right {
	padding: 5em 0 3em
}
/* избавиться от стиля по не надобности
.all-caps {
	font-weight:300;
	text-transform:uppercase;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: .1em;
	margin: 40px 0 60px -1px!important
	}*/
	.text-gray .middle,
	.text-gray .bigh,
	.text-gray .giant {
		color: #666;
	}
	.middle, .bigh, .giant {
		font-weight: 300;
	}
	.middle {
		font-size: 36px;
		line-height: 46px;
		letter-spacing: .02em;
		margin: 20px 0 50px -1px!important
	}
	.bigh {
		font-size: 60px!important;
		line-height: 60px!important;
		font-weight: 300!important;
		color:#333;
		letter-spacing: .05em!important;
		margin: 30px 0 40px -1px!important
	}
	.grand {
		font-size: 70px;
		line-height: 80px;
		color:#555;
		font-style:italic;
		letter-spacing: 2px;
		margin: 30px 0 40px -1px!important
	}
	.giant {
		font-size: 100px;
		line-height: 100px;
		font-weight: 200!important;
		letter-spacing: .1em;
		color: #666;
		margin: 40px 0 80px -1px!important
	}
	#columns .middle {
		font-size: 32px;
		line-height: 38px;
		margin: 10px 0 20px -1px!important
	}
	#columns .bigh {
		font-size: 42px!important;
		line-height: 48px!important;
		margin: 15px 0 20px -1px!important
	}
	#columns .grand {
		font-size: 60px;
		line-height: 70px;
		margin: 20px 0 30px -1px!important
	}
	#columns .giant {
		font-size: 80px;
		line-height: 100px;
		margin: 20px 0 50px -1px!important
	}
	#columns .all-caps {
		font-size: 24px;
		line-height: 30px;
		margin: 10px 0 20px -1px!important
	}
	#columns .btn, #columns .button {
		margin-top: 0;
	}
	.uppercase {
		text-transform:uppercase;
		letter-spacing: .1em!important;
	}
	#block-right .h2.bigh,
	#block-left .h2.bigh {
		font-style:italic;
		font-size: 48px;
		line-height: 54px;
	}
	#price .bigh {
		text-align: center;
		margin: 30px 0 70px -1px!important;
	}
	#block-bg-left .prev {
		font-size: 18px;
		line-height: 24px;
		font-style: italic
	}
	#block-bg-left img {
		float: right;
		max-width: 50%;
		height: auto;
		margin-left: 10%;
	}

	/* blocks background text centre */
	#block-center,
	#block-img-bottom {
		background-color:#fff;
	}
	/* full image */

	.fullimg, #only-img-bg {
		height: 600px;
		background-position: center;
		background-origin: padding-box;
		background-repeat: no-repeat;
	}
	#only-img-bg .h2, #only-img-bg .prev, #only-img-bg .full {
		display: none
	}
	#accent-block {  }
	.accent-block {
		padding-top: 450px;
		background-color: #fff 
	}
	.accent-block-img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 450px;
	}
	.accent-block-text {
		text-align:left;
		padding: 65px 100px 125px 35px;
		font-size:24px;
		line-height:36px;
		font-weight:200
	}
	.margin {
		height: 50px
	}
	#block-center.text-black,
	#block-img-bottom.text-black,
	{ color: #222 }


	#block-center.text-gray,
	#block-center .text-gray p,
	#block-img-bottom.text-gray,
	#block-img-bottom .text-gray p  { color: #555 }

	#two-collum.page-section {
		padding-top: 35px;
		padding-bottom: 35px; 
	}
	#two-collum .col-sm-6 {
		font-weight: normal;
		padding-top: 30px;
	}
	#two-collum .col-sm-6:last-child {
		border-left: 1px solid #ccc;
		padding-left: 30px;
	}
	#block-center .btn-primary,
	#block-img-bottom .btn-primary,
	#block-right .btn-primary,
	#block-left .btn-primary  {
		color: #fff;
		padding: 10px 20px;
		border: none;
	}
	#block-center .btn-primary:hover,
	#block-img-bottom .btn-primary,
	#block-right .btn-primary:hover,
	#block-left .btn-primary:hover {
		background-color: #444!important;
		color: #fff
	}
	.no-touch-device .btn-default:hover, .no-touch-device .btn-default:focus, .no-touch-device .btn-default.active {
		color: #000000;
		background-color: transparent;
		border-color: #000000;
	}
	#block-center.text-white .btn-primary,
	#block-center .btn-inverted,
	#block-img-bottom .btn-inverted,
	#block-right .btn-inverted,
	#block-left .btn-inverted  {
		background-color: #fff;
		color: #333
	}
	#block-center.text-white .btn-primary {
		background-color: #fff!important;
		color: #333
	}
	#block-center.text-white .btn-primary:hover {
		background-color: #444!important;
		color: #fff
	}
	.btn, .button {
		margin-top: 20px;
	}
	.portfolio-item a:before {
		background: rgba(26, 27, 29, 0);
		opacity: 1;
	}
	.text-white,
	.text-white h1,
	.text-white h2,
	.text-white h3,
	.text-white h4,
	.text-white h5,
	.text-white h6,
	.text-white .h1,
	.text-white .h2,
	.text-white .h3,
	.text-white .h4,
	.text-white .h5,
	.text-white .h6,
	#block-center.text-white p,
	#block-img-bottom.text-white p,
	#block-center.text-white .h1,
	#block-center.text-white .h2,
	#block-center.text-white .h3,
	#block-center.text-white .h4,
	#block-center.text-white .h5,
	#block-center.text-white .h6,
	#block-center.text-white h1,
	#block-center.text-white h2,
	#block-center.text-white h3,
	#block-center.text-white h4,
	#block-center.text-white h5,
	#block-center.text-white h6,
	#block-img-bottom.text-white .h1,
	#block-img-bottom.text-white .h2,
	#block-img-bottom.text-white .h3,
	#block-img-bottom.text-white .h4,
	#block-img-bottom.text-white .h5,
	#block-img-bottom.text-white .h6,
	#block-img-bottom.text-white h1,
	#block-img-bottom.text-white h2,
	#block-img-bottom.text-white h3,
	#block-img-bottom.text-white h4,
	#block-img-bottom.text-white h5,
	#block-img-bottom.text-white h6,
	#block-left.text-white h1,
	#block-left.text-white h2,
	#block-left.text-white h3,
	#block-left.text-white h4,
	#block-left.text-white h5,
	#block-left.text-white h6,
	#block-left.text-white .h1,
	#block-left.text-white .h2,
	#block-left.text-white .h3,
	#block-left.text-white .h4,
	#block-left.text-white .h5,
	#block-left.text-white .h6,
	#block-right.text-white h1,
	#block-right.text-white h2,
	#block-right.text-white h3,
	#block-right.text-white h4,
	#block-right.text-white h5,
	#block-right.text-white h6,
	#block-right.text-white .h1,
	#block-right.text-white .h2,
	#block-right.text-white .h3,
	#block-right.text-white .h4,
	#block-right.text-white .h5,
	#block-right.text-white .h6,
	#block-center.text-white,
	#block-img-bottom.text-white { 
		color: #fff;
		font-weight: normal;
	}
	.text-gray { color: #444 }
	#contact .h2 { margin: -10px 0 40px; }
	#contact img { width: auto }
	.must, .must_textarea {
		color:#930;    float: right;
		margin-top: 20px; 
	}
	.must_textarea {
		margin-top: 10px; 
	}
	/* Стили заданных свойств*/
	.bg_left {
		background-position: left;
	}
	.bg_right {
		background-position: right;
	}
	.bg_top {
		background-position: top;
	}
	.bg_center {
		background-position: center;
	}
	.bg_bottom {
		background-position: bottom;
	}
	.bg_bottom-left {
		background-position: bottom left;
	}
	.bg_bottom-right {
		background-position: bottom right;
	}
	.bg_top-left {
		background-position: top left;
	}
	.bg_top-right {
		background-position: top right;
	}
	#block-left .demi-2.col-default {
		padding: 100px 0 100px 10%
	}
	#block-left .demi-2.col-middle {
		padding: 100px 0 100px 20%

	}
	#block-left .demi-2.col-tight {
		padding: 100px 0 100px 30%

	}
	#block-right .demi-2.col-default {
		padding: 100px 10% 100px 0
	}
	#block-right .demi-2.col-middle {
		padding: 100px 20% 100px 100px

	}
	#block-right .demi-2.col-tight {
		padding: 100px 30% 100px 100px

	}
	.per100 { width: 100% }
	.per50 { width: 50% }
	.per33 { width: 33% }
	.per25 { width: 25% }
	.per20 { width: 20% }

	.h100 { height: 100px }
	.h200 { height: 200px }
	.h300 { height: 300px }
	.h400 { height: 400px }
	.h500 { height: 500px }
	.h600 { height: 600px }
	.h700 { height: 700px }
	.h800 { height: 800px }
	.h900 { height: 900px }
	.h1000 { height: 1000px }
	.h1100 { height: 1100px }
	.h1200 { height: 1200px }
	.h1300 { height: 1300px }

	.b100 {padding-bottom:100px!important}

	.px50 {
		height: 50px;
		width: 50px
	}
	.px100 {
		height: 100px;
		width: 100px
	}
	.px150 {
		height: 150px;
		width: 150px
	}
	.px200 {
		height: 200px;
		width: 200px
	}
	.px250 {
		height: 250px;
		width: 250px
	}
	.px300 {
		height: 300px;
		width: 300px
	}
	.px350 {
		height: 350px;
		width: 350px
	}
	.px400 {
		height: 400px;
		width: 400px
	}
	.px450 {
		height: 450px;
		width: 450px
	}
	.px500 {
		height: 500px;
		width: 500px
	}
	.px550 {
		height: 550px;
		width: 550px
	}
	.px600 {
		height: 600px;
		width: 600px
	}
	.px650 {
		height: 650px;
		width: 650px
	}
	.px700 {
		height: 700px;
		width: 700px
	}
	.margin-top-100 {
		margin: -100px 0 100px;
	}
	.m-top70 {
		margin-top: 70px;
	}

	.fixed {
		background-attachment: fixed
	}
	.cover { background-size:cover }
	.contain { background-size: contain }
	.origin { background-size: auto }

	.photo-block {
		display: block;
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
		background-position: center;
		background-size: cover;
		opacity: 0.8;
		margin-bottom: 40px;
	}
	.photo-block:hover {
		opacity: 1;
	}

	.map {
		height: 475px;
		z-index: 1;
		padding-top: 0;
		overflow: hidden;
	}
	#y-maps { 
		width:100%; 
		height: 475px;
	}
	.sended {
		position: fixed;
		top: 165px;
		left: 0;
		right: 0;
		color: white;
		font-size: 38px;
		font-weight: 300;
		padding: 100px 0 70px;
		background-color: lightgreen;
		text-align: center;
		z-index: 999;
	}
	.service .accent-img {
		background-repeat: no-repeat;
		background-position: center;
		background-size:auto
	}
	.portfolio-item .info-container {
		bottom: 15px;
	}
	.list { border: none}