h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-weight: normal;
	color: #333;
	letter-spacing: 0.2px;
}
.home-slider .large-header.underline-large:after, .home-text-rotate .large-header.underline-large:after {
	margin: 0.4em auto 0;
}
.home-slider .large-header, .home-text-rotate .large-header {
	font-size: 6rem;
}
#feedback h2 {
	color: #666;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 0.05em;
}
#block-center .h2, #block-center h2 {
	font-weight: 400;
}
.text-gray .bigh,
.text-gray .giant {
	color: #888;
}
.navbar-brand {
	padding: 10px 0 15px 51px;
}
.page-header-giant,
.page-header-largest,
.page-header-large {
	background-position-y: 50px;}
/* ECWID */
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryDescription {
	display: block;

}
html#ecwid_html body#ecwid_body .ecwid span {
	font-size: 1.1em!important;
	font-family: Roboto, sans-serif!important;
	color: #333!important;
	font-weight: 300!important;
}
/*.gwt-HTML { display: none; }*/
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-subcategories-categoryName,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a  {
	font: normal 18px Roboto, helvetica, verdana, sans-serif!important;
	font-weight: 400!important;
	line-height: 24px!important;
	color: #555!important;
	margin-top: 15px;
	text-align: center;
	word-wrap: break-word;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-price {
	font: normal 32px Roboto, geneva, verdana, sans-serif!important;
	color: #e21f26!important;
	font-weight: 300!important;
	white-space: nowrap;
}
html#ecwid_html body#ecwid_body button.ecwid-AccentedButton {
	background-color: #4eb848!important;
	background-image: none!important;
	box-shadow: none!important;
	border-radius: 0!important;
	font: normal 17px Roboto, Arial, Verdana, sans-serif;
	text-transform: uppercase;
	line-height: 18px!important;
	height: auto!important;
	padding: 6px 12px!important;
	text-shadow: none!important;
}
html#ecwid_html body#ecwid_body button.ecwid-AccentedButton:hover {
	background-color: #222!important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-price-grid div.ecwid-productBrowser-price-compareTo-container {
	margin-top: 0!important;
}
html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-item-bottom {
	height: 110px!important;
}

div.ecwid-productBrowser-price-grid div.ecwid-productBrowser-price-compareAt-container,
.ecwid-productBrowser-categoryPath-categoryLabel {
	display: none!important;
}


div.ecwid-productBrowser-price-grid div.ecwid-productBrowser-price-save {
	color: #FFFFFF!important;
	font-weight: bold!important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-head {
	font: 300 42px roboto, arial, verdana, sans-serif!important;
	margin-bottom: 20px!important;
}
html#ecwid_html body#ecwid_body .ecwid a, html#ecwid_html body#ecwid_body .ecwid a:active, html#ecwid_html body#ecwid_body .ecwid a:visited {
	font: 300 15px Roboto, geneva, verdana, sans-serif!important;
	text-decoration: none!important;
}
html#ecwid_html body#ecwid_body .ecwid a:hover {
	text-decoration: underline!important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath {
	font: 13px Roboto, arial, verdana, sans-serif!important;
	color: #666!important;
}
html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div {
	color: #333!important;
	font: normal 12px Roboto, geneva, verdana, sans-serif!important;
}
html#ecwid_html body#ecwid_body div.ecwid-results-topPanel-sortByPanel .gwt-Label {
	line-height: 21px!important;
	padding-left: 10px;
}
html#ecwid_html body#ecwid_body div.ecwid-results-topPanel-sortByPanel select.gwt-ListBox {
	font: 12px Roboto, geneva, verdana, sans-serif!important;
	color: #444!important;
	text-transform: none!important;
	letter-spacing: normal!important;
	margin-left: 5px!important;
}
html#ecwid_html body#ecwid_body div.ecwid-results-topPanel-controlsPanel {
	margin-top: -30px!important;
	margin-bottom: 40px!important;
}
html#ecwid_html body#ecwid_body div.ecwid-ProductBrowser-auth-anonim, html#ecwid_html body#ecwid_body div.ecwid-ProductBrowser-auth-logged {
	top: 0!important;
	margin-right: 0!important;
}
/*Корзина*/
html#ecwid_html body#ecwid_body div.ecwid-minicart {
	background: transparent url(../img/minicart.png) no-repeat!important;
}
/*Цифра в корзине*/
html#ecwid_html body#ecwid_body div.ecwid-minicart-counter {
	top: 22px!important;
	width: 28px!important;
	font: 400 20px Roboto, geneva, verdana, sans-serif!important;
}

/* salvattore */


@media screen and (max-width:480px) {
	.home-slider .large-header, .home-text-rotate .large-header {
		font-size: 5rem;
		letter-spacing: .05em;
	}
	#block-right .overlay,
	#block-left .overlay {
		background-color: transparent!important
	}
}